* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--dur: 8s;
	font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
}
body {
	background: var(--bg);
	color: var(--fg);
	font: bold 1em/1.5 "Comfortaa", sans-serif;
	display: grid;
	place-items: center;
	align-content: center;
	height: 100vh;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.hexagon {
	margin-bottom: 1.5em;
	overflow: hidden;
	position: relative;
	width: 15em;
	height: 15em;
}
.hexagon__group, .hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
	position: absolute;
}
.hexagon__group {
	width: 100%;
	height: 100%;
}
.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -1/6);
}
.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -2/6);
}
.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -3/6);
}
.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -4/6);
}
.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -5/6);
}
.hexagon__group:nth-child(odd) {
	transform: rotate(30deg);
}
.hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
	animation-duration: var(--dur);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*animation-play-state: paused;*/
	width: 0.2em;
	height: 0.2em;
}
.hexagon__sector {
	animation-name: moveOut1;
	top: calc(50% - 0.1em);
	left: calc(50% - 0.1em);
}
.hexagon__sector:nth-child(2) {
	animation-name: moveOut2;
}
.hexagon__sector:nth-child(3) {
	animation-name: moveOut3;
}
.hexagon__sector:nth-child(4) {
	animation-name: moveOut4;
}
.hexagon__sector:nth-child(5) {
	animation-name: moveOut5;
}
.hexagon__sector:nth-child(6) {
	animation-name: moveOut6;
}
.hexagon__sector:before, .hexagon__sector:after {
	animation-name: ripple;
	background-color: currentColor;
	border-radius: 0.1em;
	content: "";
	display: block;
	top: 0;
	left: 0;
	transform-origin: 0.1em 0.1em;
}
.hexagon__sector:before {
	transform: rotate(-30deg)
}
.hexagon__sector:after {
	transform: rotate(-150deg)
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
	}
}
/* Animations */
@keyframes moveOut1 {
	from { transform: translateY(0) scale(0); }
	3% { transform: translateY(0.2em) scale(1); }
	97% { transform: translateY(7.3em) scale(1); }
	to { transform: translateY(7.5em) scale(0); }
}
@keyframes moveOut2 {
	from { transform: rotate(60deg) translateY(0) scale(0); }
	3% { transform: rotate(60deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(60deg) translateY(7.3em) scale(1); }
	to { transform: rotate(60deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut3 {
	from { transform: rotate(120deg) translateY(0) scale(0); }
	3% { transform: rotate(120deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(120deg) translateY(7.3em) scale(1); }
	to { transform: rotate(120deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut4 {
	from { transform: rotate(180deg) translateY(0) scale(0); }
	3% { transform: rotate(180deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(180deg) translateY(7.3em) scale(1); }
	to { transform: rotate(180deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut5 {
	from { transform: rotate(240deg) translateY(0) scale(0); }
	3% { transform: rotate(240deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(240deg) translateY(7.3em) scale(1); }
	to { transform: rotate(240deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut6 {
	from { transform: rotate(300deg) translateY(0) scale(0); }
	3% { transform: rotate(300deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(300deg) translateY(7.3em) scale(1); }
	to { transform: rotate(300deg) translateY(7.5em) scale(0); }
}
@keyframes ripple {
	from, to { width: 0.2em; }
	33% { width: 2.4em; }
}




































* {
	margin: 0;
	padding: 0;
  }
  body {
	
	font-size: 20px;
	font-weight: 300;
  }
  canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
  }
  .glitch {
	color: white;
	font-size: 40px;
	font-weight: 300;
	width: 173px;
	height: 55px;
	font-family: 'bold;
	position: absolute;
	top: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transform: translateY(80px);
  }
  @keyframes noise-anim {
	0% {
	  clip: rect(23px, 9999px, 17px, 0);
	}
	5% {
	  clip: rect(34px, 9999px, 24px, 0);
	}
	10% {
	  clip: rect(34px, 9999px, 9px, 0);
	}
	15% {
	  clip: rect(20px, 9999px, 22px, 0);
	}
	20% {
	  clip: rect(5px, 9999px, 18px, 0);
	}
	25% {
	  clip: rect(15px, 9999px, 35px, 0);
	}
	30% {
	  clip: rect(26px, 9999px, 36px, 0);
	}
	35% {
	  clip: rect(26px, 9999px, 33px, 0);
	}
	40% {
	  clip: rect(26px, 9999px, 5px, 0);
	}
	45% {
	  clip: rect(13px, 9999px, 28px, 0);
	}
	50% {
	  clip: rect(29px, 9999px, 38px, 0);
	}
	55% {
	  clip: rect(30px, 9999px, 13px, 0);
	}
	60% {
	  clip: rect(7px, 9999px, 36px, 0);
	}
	65% {
	  clip: rect(28px, 9999px, 14px, 0);
	}
	70% {
	  clip: rect(15px, 9999px, 16px, 0);
	}
	75% {
	  clip: rect(8px, 9999px, 8px, 0);
	}
	80% {
	  clip: rect(39px, 9999px, 2px, 0);
	}
	85% {
	  clip: rect(20px, 9999px, 18px, 0);
	}
	90% {
	  clip: rect(27px, 9999px, 8px, 0);
	}
	95% {
	  clip: rect(33px, 9999px, 14px, 0);
	}
	100% {
	  clip: rect(23px, 9999px, 25px, 0);
	}
  }
  .glitch:after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: white;
	background: #1F3944;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse;
  }
  @keyframes noise-anim-2 {
	0% {
	  clip: rect(5px, 9999px, 21px, 0);
	}
	5% {
	  clip: rect(38px, 9999px, 11px, 0);
	}
	10% {
	  clip: rect(37px, 9999px, 18px, 0);
	}
	15% {
	  clip: rect(11px, 9999px, 38px, 0);
	}
	20% {
	  clip: rect(24px, 9999px, 13px, 0);
	}
	25% {
	  clip: rect(37px, 9999px, 25px, 0);
	}
	30% {
	  clip: rect(28px, 9999px, 40px, 0);
	}
	35% {
	  clip: rect(14px, 9999px, 33px, 0);
	}
	40% {
	  clip: rect(35px, 9999px, 3px, 0);
	}
	45% {
	  clip: rect(23px, 9999px, 19px, 0);
	}
	50% {
	  clip: rect(7px, 9999px, 18px, 0);
	}
	55% {
	  clip: rect(18px, 9999px, 15px, 0);
	}
	60% {
	  clip: rect(14px, 9999px, 31px, 0);
	}
	65% {
	  clip: rect(29px, 9999px, 4px, 0);
	}
	70% {
	  clip: rect(12px, 9999px, 2px, 0);
	}
	75% {
	  clip: rect(3px, 9999px, 38px, 0);
	}
	80% {
	  clip: rect(24px, 9999px, 39px, 0);
	}
	85% {
	  clip: rect(34px, 9999px, 12px, 0);
	}
	90% {
	  clip: rect(15px, 9999px, 11px, 0);
	}
	95% {
	  clip: rect(10px, 9999px, 14px, 0);
	}
	100% {
	  clip: rect(38px, 9999px, 21px, 0);
	}
  }
  .glitch:before {
	content: attr(data-text);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: white;
	background: #1F3944;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  